<!DOCTYPE HTML>
{% load bootstrap_toolkit %}
{% load staticfiles %}
<html></html><head>
  <title> Book Club </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href={% static 'css/bootstrap-theme.min.css'%} rel="stylesheet" 
			  media="screen" />
	<link href={% static 'css/bootstrap.min.css'%} rel="stylesheet" 
			  media="screen" />
	<link href={% static 'css/datepicker.css'%} rel="stylesheet" 
			  media="screen" />
  {% block headers %} {% endblock %}

</head>
<body style>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	  <div class="navbar-header">
		  <span class="navbar-brand">A web app for book clubs</span>
		</div>
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
		    <li><a href="{% url 'club.views.user_home' %}"> You </a></li>	
		    <li><a href="{% url 'club.views.club_home' club.id|default:1 %}">
			    Your Club </a></li>
		  </ul>
	    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %} 
	        <li><a href="{%url 'club.views.logout'%}">Logout</a></li>
			  {% else %} 
				  <li><a href={% url 'django.contrib.auth.views.login' %}>Login</a></li>
				  <li><a href={% url 'club.views.register' %}>Register</a></li>
        {% endif %}
      </ul>
	  </div>
  </div>
</div>

<div class="container">
	<div class="jumbotron">
	  {% block title %} {% endblock %}
	</div>
  <section id='content'>
    {% block content %} {% endblock %}
  </section>
</div>
<script  src={% static 'js/jquery-2.0.3.min.js' %}> </script>
<script  src={% static 'js/bootstrap.min.js' %}> </script>
<script  src={% static 'datepicker/js/bootstrap-datepicker.js' %}> </script>
<script  src={% static 'bootstrap_toolkit/js/init_datepicker.js' %}> </script>
{% block extra-js %} {% endblock %}
</body>
</html>
